$main-font-family: 'Raleway', 'Arial' sans-serif;
$popular-font-family: 'Montserrat', sans-serif;
$title-font-family: 'Kaushan Script', cursive;
$text-font-family: 'Roboto', sans-serif;



$main-font-color: #000;
$primary-white-color: #fff;
$navigation-hover-color: #fce38a;
$title-color: #333333;
$title-decoration-color: #f38181;
$text-color: #999999;
$team-background: #95e1d3;
$border-color: #e7e7e7;
$form-color: #cccccc;

$bold: 700;
$regular: 400;
$light: 300;

