.team__info {
    display: block;
    width: 960px;
    text-align: center;
    margin: 46px auto 96px;
    font-family: $text-font-family;
    font-weight: $regular;
    font-size: 15px;
    line-height: 24px;
    color: $text-color;
}